/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


figure > img {
    display: block;
}

*[class^='col-'] {
    padding: 20px;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

/* component classes */
.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */
.page-header {
    background-color: var(--blue);
    color: white;
    padding: 40px;
}

.icon-menu {
    display: none;
    font-size: 30px;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 10px;
}

.card-hero {
    background-color: var(--light-blue);
    height: 100%; 
    border-radius: 20px;
}

/* HERO */
.hero {
    padding: 60px 0px;
}

.hero .col-4 {
    text-align: center;
}

*[class^='col-'] {
    padding: 20px;
}

.no-padding {
    padding: 0;
}

.title-card {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--blue) ;
}

.button-blue {
    margin-top: 20px;
    background-color: var(--blue);
    color: white;
}

.apple {
    font-size: 22px;
}

.paragraph-card {
    font-size: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

.icon-card {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 70px;
}

.img-card {
    width: 250px;
}

/* STRATEGIC-PLANNER */
.strategic-planner {
    background-color: #9792E4;
    padding: 40px 0px;
}
/* Responsive */
/* TABLET */
@media (max-width: 770px) {
    
    .container {
        width: 100%;
    }

    .navbar-list {
        display: none;
    }

    .icon-menu {
        display: block;
    }

    .row-card-hero-tablet {
        flex-direction: column;
        
    }
    
}

/* MOBILE */
@media (max-width: 580px) {

    .container {
        width: 100%;
    }

    /* HEADER  */
    .navbar-list {
        display: none;
    }

    .icon-menu {
        display: block;
    }
    
    /* HERO */
    .hero .row {
        flex-direction: column;
        align-items: center;
    }

    .hero[class^='col-'] {
        width: 100%
    }

    .hero .col-8 {
        text-align: center;
    }


}


/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}


.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}

.planning-title {
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;

}

.planning-paragraph {
    color: white;
    font-size: 12px;
}

.developement-section {
    
}

.card-developement {
    background-color: var(--light);
    border-radius: 20px;
    padding: 10px;
}

.card-title-developement 
.card-paragraph-developement 
.arrow-down {
    text-align: center;
}
.card-title-developement {
    padding: 15px;
}

.card-paragraph-developement {
    padding: 15px;
    font-size: 14px;
}

.arrow-down {
    background-color: #9792E4;
    border-radius: 50%;
    padding: 14px;
}

.row-planner {
    align-items: end;
    justify-content: center;
}
/* .planning-img {
    width: 410px;
} */

