/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


figure > img {
    display: block;
}

*[class^='col-'] {
    padding: 20px;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

/* component classes */
.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */
.page-header {
    background-color: var(--blue);
    color: white;
    padding: 40px;
}

.icon-menu {
    display: none;
    font-size: 30px;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 10px;
}

.card-hero {
    background-color: var(--light-blue);
    height: 100%; 
    border-radius: 20px;
}

/* HERO */
.hero {
    padding: 60px 0px;
}

.hero .col-4 {
    text-align: center;
}

*[class^='col-'] {
    padding: 20px;
}

.no-padding {
    padding: 0;
}

/* card hero */
.title-card {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--blue) ;
}

.button-blue {
    margin-top: 20px;
    background-color: var(--blue);
    color: white;
}

.apple {
    font-size: 22px;
}

.paragraph-card {
    font-size: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

.icon-card {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 70px;
}

.img-card {
    width: 250px;
}

/* STRATEGIC-PLANNER */
.strategic-planner {
    background-color: #9792E4;
    padding: 40px 0px;
}

.planning-title {
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}

.planning-paragraph {
    color: white;
    font-size: 12px;
}

/* card developement */
.card-developement {
    background-color: var(--light);
    border-radius: 20px;
    padding: 10px;
}

.img-developement {
    width: 215px;
}


.card-title-developement {
    padding: 15px;
    text-align: center;
}

.card-paragraph-developement {
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

.arrow-down {
    background-color: #9792E4;
    border-radius: 50%;
    padding: 14px;
    text-align: center;
}

.row-planner {
    align-items: end;
    justify-content: center;
}

/* TESTIMONIAL */
.tesimonials {
    padding: 20px 0px 40px 0px;
}

.main-testimonial {
    text-align: center;
    padding: 25px 0px;
}

.main-section {
    font-weight: 600;
    font-size: 18px;
}

.main-title {
    color: #9792E4;
    font-weight: 700;
    font-size: 35px;
    padding: 20px 0px;
}

/* cards testimonials */
.cards-testimonials {
    background-color: #9792E4;
    border-radius: 30px;
}

.img-testimonials {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.quote-testimonial {
    display: block;
    color: white;
    font-style: oblique;
    line-height: 20px;
    padding: 20px 0px 20px 10px;
}

.name-testimonial {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 0px 0px 10px;
}

/* BENEFITS */
.benefits {
    background-color: #9792E4;
    padding: 60px 0px;
}

.title-benefits {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
    padding: 20px 0px;
    text-align: center;
}

/* cards benefits */
.card-benefits {
    background-color: var(--light);
    height: 100%; 
    border-radius: 20px;
}

.number-card-benefits {
    color: var(--purple);
    font-size: 70px;
    padding: 45px 0px 0px 40px ;
}

.title-card-benefits {
    color: var(--purple);
    font-size: 20px;
    font-weight: 900;
    padding: 20px 0px 0px 40px;
}

.paragraph-card-benefits {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 20px 20px 40px;
}

.button-purple {
    background-color: var(--purple);
    color: white;
    margin: 0px 0px 30px 40px;
    padding: 0px 30px;
}

/* ABOUT US */
.company-biography {
    padding: 40px 0px 40px 0px;
}

/* Responsive */
/* TABLET */
@media (max-width: 770px) {
    
    .container {
        width: 100%;
    }

    /* HEADER */
    .navbar-list {
        display: none;
    }

    .icon-menu {
        display: block;
    }

    /* HERO */
    .row-card-hero-tablet {
        flex-direction: column;
        
    }

    .row .justify-center {
        justify-content: flex-start;
    }

    /* STRATEGIC-PLANNER */

    .strategic-planner .col-6 {
        flex-basis: 100%;
    }

    .strategic-planner .col-4 {
        flex-basis: 100%;
    }
    
    .row-planner {
        flex-direction: column;
    }

    .planning-title {
        font-size: 40px;
    }

    .img-developement {
        width: 100%;
        padding: 0px 10px;
    }

    .planning-paragraph {
        font-size: 15px;
        line-height: 25px;
    }

    .card-title-developement {
        text-align: center;
        font-size: 25px;
    }

    .card-paragraph-developement {
        text-align: center;
        font-size: 15px;
    }


    /* TESTIMONIALS */
    .testimonial .col-12 {
        flex-basis: 100%;
    }

    /* BENEFITS */
    .benefits .col-4 {
        flex-basis: 50%;
    }
    
}

/* MOBILE */
@media (max-width: 580px) {

    .container {
        width: 100%;
    }

    /* HEADER  */
    .navbar-list {
        display: none;
    }

    .icon-menu {
        display: block;
    }
    
    /* HERO */
    .hero .row {
        flex-direction: column;
        align-items: center;
    }

    .hero[class^='col-'] {
        width: 100%
    }

    .hero .col-8 {
        text-align: center;
    }

    /* STRATEGIC-PLANNER */
    .strategic-planner .col-6 {
        flex-basis: 100%;
    }

    .strategic-planner .col-4 {
        flex-basis: 100%;
    }    

    /* TESTIMONIALS */
    .testimonial .col-12 {
        flex-basis: 100%;
    }
    
    .cards-testimonials .row {
        justify-content: center;
    }

    .quote-testimonial {
        padding: 0px 0px 0px 0px;
    }
    
    .name-testimonial {
        padding: 20px 0px 20px 10px;
        text-align: center;
    }

    /* BENEFITS */
    .benefits .col-4 {
        flex-basis: 100%;
    }

    .card-benefits {
        display: flex;
        flex-wrap: wrap;
    }

}

/* debug */
.debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}


.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}

/* about us */

.title-biography {
    color: #9792E4;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 40px;
}

.description-biography-top {
    margin-bottom: 40px;
    line-height: 35px;
    font-size: 15px;
}

.description-biography-bottom {
    margin-bottom: 60px;
    line-height: 35px;
    font-size: 15px;
}

.img-biography {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

